<div class="container">
<%= simple_form_for @user, url: create_referent_path(@user), method: :patch do |f| %>
  <div class="form-inputs">
    <%# Brand and description %>
    <%= f.input :brand %>
    <%= f.input :description, as: :text, :input_html => { rows: 5, cols: 10 }%>
    <%= f.submit "Become a Referent" %>
  </div>
<% end %>
</div>
