
<h2 class="my-4">Deja tu comentario</h2>
      <%= simple_form_for [user, review] do |f| %>
        <div class="field">
            <%= f.rich_text_area :content, as: :file %>
        </div>
        <%= f.input :rating, collection: (1..5).to_a, as: :radio_buttons, item_wrapper_class:"form-check-inline m-label" %>
        <%= f.submit "Enviar comentario", class: "btn btn-info" %>
      <% end %>
