<%= form_with url: search_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for products, brands..."
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% if @products %>
<div class="row">
  <h2 class="bg-info">Products</h2>
  <% @products.each do |product| %>
    <%= product.name %>
  <% end %>
</div>
<% end %>
