.card {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
