
  <div class="row mx-auto my-3 card-form col-10">

  <div class="img-form-p col-5">
    <div class="glassmorphism">
      <h3>Let everyone know your creations!</h3>
      <p>Post in <strong>Referent</strong> to all fashion lovers</p>
    </div>
  </div>

 <div class="col-7 mt-5 d-flex justify-content-center">

<%= render 'products/form_product' %>
